/*Specification*/

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif, 'Arial';
}

ul li {
	display: block;
	margin-bottom: 15px;
}

h1 {
	padding: 50px 0;
}

section {
	padding-bottom: 50px;
}


.table {
	margin-bottom: 0;
}

.logo {
	width: 300px;
}

.acad {
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	font-weight: bold;
	text-align: center;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.main {
	min-height: calc(100vh - 92.72px * 2);
}

.top-line {
	background: #5a4ad6;
}

.cont-up {
	display: flex;
	align-items: center;
}

.pic {
	width: 200px;
	margin-right: 200px;
}

.menu {
	display: flex;

}

.menu li {
	margin-right: 30px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	font: bold 14px 'Arial';
	text-transform: uppercase;
}

.descrition {
	display: flex;
}

.buttons {
	background: #000;
}

.page-1 {
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

.page-1:hover {
	background: #fff;
	color: #000;
	text-decoration: none;
}


/*Footer*/

footer {
	background: #5a4ad6;
}

.footer {
	display: flex;
	align-items: center;
}

.rights {
	color: #fff;
	font: 16px 'Arial';
}

/*Second page*/

.dns {
	display: flex;
	align-items: center;
	padding-top: 50px;
}

#html {
	padding: 50px 0;
}

.html {
	display: flex;
	align-items: center;
}

.pic3 {
	width: 400px;
}

/*Third page*/

.html-descrition {
	display: flex;
}

.anatomy {
	width: 800px;
	padding-left: 0;
}

.anatomy li {
	margin-bottom: 10px;
}

.attributes {
	margin-top: 50px;
}

.dns__img {
	width: 500px;
	margin-left: 100px;
	margin-bottom: 50px;
}

.html1 {
	width: 500px;
	margin-top: 20px;
}

.html2 {
	width: 500px;
	margin-top: 160px;
}

.attr {
	margin: 10px 0 0 50px;
}